html {
	font-size: 62.5%;
}
.logo-style{
    font-family: 'Courgette', cursive;
}

body{
    background-color: #010625;
}

.white{
    color: white;
}
.black{
    color: black;
}
.header-color{
    background-color: #021928;
}

.footer-color{
    background-color: #021928;
}
#input-amount-to-bet::placeholder{
    color: white;
    font-size: 16px;
    font-weight: normal;
}
#news-search::placeholder{
    color: white;
    font-size: 19px;
    font-weight: bold;
}
