html {
	font-size: 62.5%;
}

@font-face {
    font-family: 'myanmar';
    src: local('myanmar'), url(../assets/fonts/Cherry_Unicode.ttf) format('truetype');
}


body{
    padding: 0 !important;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}



body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.scrollable-body{
    overflow-y: auto;
    height: calc(100svh - 82px);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scrollable-body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.scrollable-parlay-body{
    overflow-y: auto;
    height: calc(100svh - 158px);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scrollable-parlay-body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.scrollable-bodyOver{
    overflow-y: auto;
    height: calc(100svh - 184px);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scrollable-bodyOver::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.logo-style{
    font-family: 'Courgette', cursive;
}


.body-color{
    background-color: #010625;
}

.white{
    color: white;
}
.black{
    color: black;
}
.header-color{
    background-color: #021928;
}

.footer-color{
    background-color: #021928;
}
#input-amount-to-bet::placeholder{
    color: rgb(140, 137, 137);
    font-size: 14px;
    font-weight: normal;
}
#news-search::placeholder{
    color: white;
    /* color: rgb(140, 137, 137); */

    font-size: 16px;
    font-weight: normal;
}

.search-league{
    background-color: #0A324D;
    border: lightslategray;
    caret-color: white;
    color: whitesmoke
}
.search-league::placeholder{
    color: white
}
.search-league::cursor{
    color: white
}

.header-filter-league{
    padding: 0 !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;

}
h5 {
    font-size: 12px;
    color: "rgb(140, 137, 137)";
}
h6 {
    font-size: 10px;
    color: "rgb(140, 137, 137)";
}
.month-popover{
    transform: translateX(-50%);
    transition: transform 2s ease;
}
.month-popover-slide{
    transform: translateX(-50%);
    transition: transform 2s ease;
    transform: none;
}
.change-password-input .ant-input{
    background-color: rgb(10, 50, 77);
    color: white;
    padding: 0.6rem 0 !important;
}
.change-password-input .ant-input-affix-wrapper:hover{
    border-color: #87CEEB;
}
.change-password-input .ant-input-affix-wrapper-focused{
    border-color: #87CEEB;
}
.change-password-input .ant-form-item-feedback-icon-success{
    color: #87CEEB
}
.change-password-input .ant-form-item-explain-error{
    font-size: 1.2rem;
}
.change-password-input .ant-input-password-icon{
  color: grey !important
}
.change-password-input .ant-form-item-required{
    color: white !important;
}
.bet-amount .ant-form-item{
    margin-bottom: 0 !important;
}
.bet-amount .ant-form-item-explain-error{
    font-size: 1rem;
}
.bet-amount .ant-input::placeholder {
    color: grey;

}
.bet-amount .ant-input{
    background-color: black;
}
.change-password-input .anticon-lock{
    color: grey;
    padding-right: 1rem;
}

.change-password-input .anticon-user{
    color: grey;
    padding-right: 1rem;
}
