html {
	font-size: 62.5%;
}

@font-face {
    font-family: 'myanmar';
    src: local('myanmar'), url(../assets/fonts/Cherry_Unicode.ttf) format('truetype');
}


body{
    padding: 0 !important;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}



body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.scrollable-body{
    overflow-y: auto;
    height: calc(100svh - 82px);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scrollable-body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.scrollable-parlay-body{
    overflow-y: auto;
    height: calc(100svh - 167px);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scrollable-parlay-body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.scrollable-bodyOver{
    overflow-y: auto;
    height: calc(100svh - 193px);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scrollable-bodyOver::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.logo-style{
    font-family: 'Courgette', cursive;
}


.body-color{
    background-color: #010625;
}

.white{
    color: white;
}
.black{
    color: black;
}
.header-color{
    background-color: #021928;
}

.footer-color{
    background-color: #021928;
}
#input-amount-to-bet::placeholder{
    color: rgb(140, 137, 137);
    font-size: 14px;
    font-weight: normal;
}
#news-search::placeholder{
    color: white;
    font-size: 19px;
    font-weight: bold;
}

.search-league{
    background-color: #0A324D;
    border: lightslategray;
    caret-color: white;
    color: whitesmoke
}
.search-league::placeholder{
    color: white
}
.search-league::cursor{
    color: white
}

.header-filter-league{
    padding: 0 !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;

}
h5 {
    font-size: 12px;
    color: "rgb(140, 137, 137)";
}


 